<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width" />*@
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

   




    <!-- Bootstrap core CSS -->

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/fonts/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/animate.min.css" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="~/Content/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery-jvectormap-2.0.1.css" />
    <link href="~/Content/css/green.css" rel="stylesheet" />
    <link href="~/Content/css/floatexamples.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/js/jquery.min.js"></script>

    <link rel="stylesheet" href="~/Content/css/chosen.css" media="all" />


    <script src="~/Scripts/js/jquery.min.js"></script>


    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>

    <script>
    //* enchanced select
    chosen_select = {
        init: function () {
            $(".chzn-select").chosen();
        }
    };

    $(document).ready(function () {
        // extended select elements
        chosen_select.init();
    });
    </script>







  



























</head>
<body class="nav-md">
    @RenderBody()


    @RenderSection("scripts", required: false)


    <script src="~/Scripts/js/bootstrap.min.js"></script>

    <script src="~/Scripts/js/custom.js"></script>


    <script>
    function setInputDate(_id) {
        var _dat = document.querySelector(_id);
        var hoy = new Date(),
            d = hoy.getDate(),
            m = hoy.getMonth() + 1,
            y = hoy.getFullYear(),
            data;

        if (d < 10) {
            d = "0" + d;
        };
        if (m < 10) {
            m = "0" + m;
        };

        data = y + "-" + m + "-" + d;
        console.log(data);
        _dat.value = data;
    };

    setInputDate("#dateDefault");
    </script>

    <script>
        function setInputDate(_id) {
            var _dat = document.querySelector(_id);
            var hoy = new Date(),
                d = hoy.getDate(),
                m = hoy.getMonth() + 1,
                y = hoy.getFullYear(),
                data;

            if (d < 10) {
                d = "0" + d;
            };
            if (m < 10) {
                m = "0" + m;
            };

            data = y + "-" + m + "-" + d;
            console.log(data);
            _dat.value = data;
        };

        setInputDate("#dateDefault2");
    </script>

    <script type="text/javascript">
        $('#demo-form2').bind('submit', function (e) {
        // Disable the submit button while evaluating if the form should be submitted
        $('#btnSubmit').prop('disabled', true);

        //var valid = true;
        var error = '';

        // If the email field is empty validation will fail
        if ($('[name=email]').val() === '') {
            valid = true;
            error = 'Email is required';
        }

        if (valid) {
            // Prevent form from submitting if validation failed
            e.preventDefault();

            // Reactivate the button if the form was not submitted
            $('#btnSubmit').prop('disabled', false);

            alert(error);
        }
    });
    </script>
</body>
</html>
