@model List<ranglerz_project.Models.TransactionAccount>

@{
    ViewBag.Title = "Purchase Voucher";
}





    <div class="container body">


        <div class="main_container">

            @{
                Html.RenderPartial("_Partial");
            }

            <div class="right_col col-md-10 pull-right " role="main">
                <div class="">



                    <div class="page-title">
                        <div class="title_left">
                            <h3>Purchase Voucher</h3>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>New Purchase Voucher <strong>@ViewBag.Code</strong></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br />
                                <form id="demo-form2" onsubmit="return submitResult();" action="@Url.Action("AddSaleVoucher", "TemporaryReports")" method="post" data-parsley-validate class="form-horizontal form-label-left">


                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                            From Vendor <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select id="to" name="to" required onchange="GetVendors(this.value)" class="form-control chzn-select col-md-7 col-xs-12">
                                                <option value="">Please select any </option>
                                                @foreach (var tr in Model.Where(x => x.type_ == "Vendor" || x.type_ == "Sundry"))
                                                {
                                                    <option value="@tr.id">@tr.MainAccount.name -> @tr.name </option>
                                                }


                                            </select>
                                        </div>



                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                            Good <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select name="from" id="VendorsDD" class="form-control  col-md-7 col-xs-12">
                                                <option>Select any </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Truck </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="truck" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">GRN: </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="grn" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Weight Load </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="txtFirstValue" onkeyup="javascript:Add();" class="form-control col-md-7 col-xs-12" type="text" name="load" onkeypress='validate(event)' required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Weight Empty </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="txtSecondValue" onkeyup="javascript:Add();" class="form-control col-md-7 col-xs-12" type="text" onkeypress='validate(event)' name="empty" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Deduction </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="txtThirdValue" onkeyup="javascript:Add();" class="form-control col-md-7 col-xs-12" type="text" name="deduction" onkeypress='validate(event)' required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Net Weight </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="txtTotal" class="form-control col-md-7 col-xs-12" type="text" readonly name="net" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Date </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="middle-name" class="form-control col-md-7 col-xs-12" type="date" name="date" max="2017-12-31" min="2016-01-01" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Description </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="description" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <a class="btn btn-primary" onclick="findPurchaseOrder()">Check Purchase Order #</a>
                                        </div>
                                    </div>
                                    <div class="form-group hide" id="PurchaseOrder">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                            PO# <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select name="order_num" id="PO" class="form-control  col-md-7 col-xs-12">
                                                <option>Select any </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">


                                            <input type="submit" id="btnSubmit" name="actionType" value="Add Voucher" class="btn btn-success" />
                                            <input type="submit" name="actionType" value="Add and Print" class="btn btn-success" />
                                            <input type="hidden" name="voucherCode" value="@ViewBag.Code" />

                                        </div>
                                    </div>

                                </form>
</div>
                          
                 
                        </div>
                    </div>
                </div>
            </div>
        </div>


      
    

    </div>





    <script language="javascript" type="text/javascript">

    //
    // This function will allow users to insert only numbers in the textboxes.
    //

    function onlyNumbers(evt) {
        var e = event || evt; // for trans-browser compatibility
        var charCode = e.which || e.keyCode;

        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    //
    // This function is to calculate all the values of textboxes.
    //

    function Add() {
        var a, b, c, d;
        a = parseInt(document.getElementById("txtFirstValue").value);

        //
        // If textbox value is null i.e empty, then the below mentioned if condition will
        // come into picture and make the value to '0' to avoid errors.
        //

        if (isNaN(a) == true) {
            a = 0;
        }
        var b = parseInt(document.getElementById("txtSecondValue").value);
        if (isNaN(b) == true) {
            b = 0;
        }
        var c = parseInt(document.getElementById("txtThirdValue").value);
        if (isNaN(c) == true) {
            c = 0;
        }

        document.getElementById("txtTotal").value = a - b -c
    }



    function GetVendors(_routeId) {

        var url = "/SaleVoucher/AjaxCall/";
        var vendorslist = "#VendorsDD";

        $.ajax({
            url: url,
            data: { RouteID: _routeId },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#VendorsDD").html(data);
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }

    function findPurchaseOrder() {
        var accountID = document.getElementById("to").value;
        var item = document.getElementById("VendorsDD").value;

        var url = "/SaleVoucher/FindPurchaseOrder/";
        var vendorslist = "#PO";

        $.ajax({
            url: url,
            data: { Item: item, AccountId: accountID },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#PO").html(data);
                $("#PurchaseOrder").addClass("show");
            },
            error: function (reponse) {
                alert("error : Please Select Account and Good");
            }
        });
    }
























    </script>


    <script type="text/javascript">
    function submitResult() {
        if (confirm("Are You Sure To Post?") == false) {
            return false;
        } else {
            return true;
        }
    }




    function validate(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
            alert("Please Enter Only Numeric Value")
        }
    }












    </script>





