@model ranglerz_project.Models.Transaction
@{
    ViewBag.Title = "Edit";
    var credit = 0;
}











    <div class="container body">


        <div class="main_container">

            @{
                Html.RenderPartial("_Partial");
            }

            <div class="right_col col-md-10 pull-right" role="main">
                <div class="">



                    <div class="page-title">
                        <div class="title_left">
                            <h3>Update Voucher</h3>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">

                            <div class="x_content">
                                <br />
                                <form id="demo-form2" action="@Url.Action("Edit", "ExpenseVoucher", new {id= Model.Id })" method="post" data-parsley-validate class="form-horizontal form-label-left">
                                   
                                     <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                            Debit <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select name="to" required class="form-control chzn-select col-md-7 col-xs-12">
                                                <option value="@Model.to_account">@Model.to_account</option>
                                                <option value="">Please select any </option>

                                                @foreach (var tr in ViewBag.MyList)
                                                {
                                                    if (@tr.MainAccount.main_id == 4)
                                                    {
                                                        <option value="@tr.name">@tr.MainAccount.name ->@tr.HeadAccount.name -> @tr.SubHeadAccount.name -> @tr.name </option>
                                                    }
                                                }

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                            Credit <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select name="from" required class="form-control chzn-select col-md-7 col-xs-12">
                                                <option value="@Model.from_account">@Model.from_account</option>
                                                <option value="">Please select any </option>

                                                @foreach (var tr in ViewBag.MyList)
                                                {

                                                    <option value="@tr.name">@tr.MainAccount.name -> @tr.name </option>
                                                }


                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Amount </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @if (@Model.cr != 0)
                                            {
                                                credit =(int)@Model.cr;

                                            }
                                            else
                                            {
                                                credit =(int) @Model.dr;
                                            }
                                            <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" value="@credit" name="amount" required>
                                        </div>
                                    </div>
                                    

                                        
                                        

                                        












                                   




                                    
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Date </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="middle-name" class="form-control col-md-7 col-xs-12" value="@ViewBag.date" name="date" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Description </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="middle-name" class="form-control col-md-7 col-xs-12" value="@Model.description" type="text" name="description" required>
                                        </div>
                                    </div>
                            </div>
                            <div class="form-group">


                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                                    <input type="submit" value="Update" class="btn btn-success" />
                                </div>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


       

    </div>


