@model List<ranglerz_project.Models.TemporaryReport>
@{
    ViewBag.Title = "Supervision";
    string values = null;
    string val = null;

}







    <div class="container body">


        <div class="main_container">

            @{
                Html.RenderPartial("_Partial");
            }

            <!-- top navigation -->
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col col-md-10 pull-right" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>
                                Super Vision Module
                            </h3>
                        </div>


                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">

                                <div class="x_content">
                                    <br />
                                    <form id="demo-form2" action="@Url.Action("SupervisionPost","USER_CRUD")" method="get" data-parsley-validate class="form-horizontal form-label-left">

                                        <div class="form-group">

                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select name="user" required class="form-control chzn-select col-md-7 col-xs-12">
                                                    <option value="">Please select any </option>
                                                    @foreach (var user in ViewBag.allUsers)
                                                    {
                                                        <option value="@user.Id">@user.name </option>
                                                    }


                                                </select>

                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">

                                                <input type="submit" value="Search" class="btn btn-success" />
                                            </div>
                                        </div>




                                </div>

                                <div class="ln_solid"></div>

                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Voucher Posted</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <table id="example" class="table table-striped table-condensed responsive-utilities jambo_table">
                                        <thead>
                                            <tr class="headings">

                                                <th>Date </th>
                                                <th>User </th>
                                                <th>Type </th>
                                                <th>Code </th>
                                                <th>Description </th>
                                                <th>Debit </th>
                                                <th>Credit </th>
                                                <th>Item </th>
                                                <th>Amount </th>
                                                <th>Post </th>
                                                <th>Action </th>

                                            </tr>
                                        </thead>

                                        <tbody>


                                            @foreach (var v in Model.Where(x => x.is_active == "Y").OrderBy(x => x.created_at))
                                            {
                                                if (v.Id % 2 != 0 && v.amount != 0)
                                                {

                                                    if (v.User1.amount_limit < v.amount)
                                                    {

                                                        <tr class="even pointer background" style="background-color:#716937; color:#fff">



                                                            <td class=" ">@v.created_at.ToShortDateString()</td>
                                                            <td class=" ">@v.user </td>
                                                            <td class=" ">
                                                                @v.voucher_type
                                                            </td>
                                                            <td class=" ">@v.voucher_code</td>


                                                            <td class=" ">@v.description</td>
                                                            <td>@v.to_account</td>
                                                            <td>@v.from_account</td>





                                                            @if (v.voucher_type == "SV" || v.voucher_type == "PV" || v.voucher_type == "UPPV" || v.voucher_type == "UPSV")
                                                            {
                                                                <td>@v.good_.Trim()</td>
                                                                values = (String.Format("{0:0,0}", v.quantity));
                                                                <td>@values</td>
                                                            }
                                                            else if (v.voucher_type == "PRV")
                                                            {
                                                                <td>@v.good_</td>
                                                                values = (String.Format("{0:0,0}", v.net_weight));
                                                                <td>@values</td>

                                                            }
                                                            else
                                                            {
                                                                <td>@v.item</td>
                                                                values = (String.Format("{0:0,0}", v.amount));
                                                                <td>@values</td>
                                                            }


                                                            <td>

                                                                @if (v.voucher_type == "BV")
                                                                {
                                                                    <a onclick="return check(this);" href="@Url.Action("bankPost","Transactions",new {id =@v.Id})"> OK</a>
                                                                }
                                                                else if (v.voucher_type == "JV")
                                                                {
                                                                    <a onclick="return check(this);" href="@Url.Action("journalPost","Transactions",new {id =@v.Id})"> OK</a>
                                                                }
                                                                else if (v.voucher_type == "BP")
                                                                {
                                                                    if (v.description != "WHT")
                                                                    {
                                                                        <a onclick="return check(this);" href="@Url.Action("bankPaymentPost","Transactions",new {id =@v.Id})"> OK</a>
                                                                    }
                                                                }
                                                                else if (v.voucher_type == "CP")
                                                                {
                                                                    <a onclick="return check(this);" href="@Url.Action("cashPaymentPost","Transactions",new {id =@v.Id})"> OK</a>
                                                                }
                                                                else if (v.voucher_type == "CR")
                                                                {
                                                                    <a onclick="return check(this);" href="@Url.Action("cashReceivedPost", "Transactions", new { id = @v.Id })"> OK</a>
                                                                }
                                                                else if (v.voucher_type == "EV")
                                                                {
                                                                    <a onclick="return check(this);" href="@Url.Action("ExpensePost", "ExpenseVoucher", new { id = @v.Id })"> OK</a>
                                                                }
                                                                else if (v.voucher_type == "WEV")
                                                                {
                                                                    <a onclick="return check(this);" href="@Url.Action("weightExpensePost","Transactions", new { id = @v.Id })"> OK</a>
                                                                }
                                                                else if (v.voucher_type == "PRV" && v.pvr_type == 1)
                                                                {
                                                                    <a onclick="return check(this);" href="@Url.Action("Production", "GoodsManagement", new { id = @v.Id })"> OK</a>
                                                                }
                                                                else
                                                                {
                                                                    <a onclick="return check(this);" style="color:#fff" href="@Url.Action("AddSaleVoucher", "SaleVoucher", new { id = @v.Id })"> OK</a>
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (v.description != "WHT")
                                                                {

                                                                    <a style="color:#fff" href="@Url.Action("Delete", "TemporaryReports", new { id = @v.Id })" onclick="return confirm('Are you sure you want to Delete?')"> Delete</a>

                                                                }

                                                            </td>
                                                        </tr>

                                                    }

                                                    else
                                                    {

                                                        <tr class="even pointer background" style="">



                                                            <td class=" ">@v.created_at.ToShortDateString()</td>
                                                            <td class=" ">@v.user </td>
                                                            <td class=" ">
                                                                @v.voucher_type
                                                            </td>
                                                            <td class=" ">@v.voucher_code</td>


                                                            <td class=" ">@v.description</td>
                                                            <td>@v.to_account</td>
                                                            <td>@v.from_account</td>



                                                            @if (v.voucher_type == "SV" || v.voucher_type == "PV" || v.voucher_type == "UPPV" || v.voucher_type == "UPSV")
                                                            {
                                                                <td>@v.good_.Trim()</td>
                                                                values = (String.Format("{0:0,0}", v.quantity));
                                                                <td>@values</td>
                                                            }

                                                            else if (v.voucher_type == "PRV")
                                                            {
                                                                <td>@v.good_</td>
                                                                values = (String.Format("{0:0,0}", v.net_weight));
                                                                <td>@values</td>

                                                            }

                                                            else
                                                            {
                                                                <td>@v.item</td>
                                                                values = (String.Format("{0:0,0}", v.amount));
                                                                <td>@values</td>
                                                            }


                                                            <td>

                                                                @if (v.voucher_type == "BV")
                                                                {
                                                                    <a onclick="return check(this);" href="@Url.Action("bankPost","Transactions",new {id =@v.Id})"> OK</a>
                                                                }
                                                                else if (v.voucher_type == "JV")
                                                                {
                                                                    <a onclick="return check(this);" href="@Url.Action("journalPost","Transactions",new {id =@v.Id})"> OK</a>
                                                                }
                                                                else if (v.voucher_type == "BP")
                                                                {
                                                                    if (v.description != "WHT")
                                                                    {
                                                                        <a onclick="return check(this);" href="@Url.Action("bankPaymentPost","Transactions",new {id =@v.Id})"> OK</a>
                                                                    }
                                                                }
                                                                else if (v.voucher_type == "CP")
                                                                {
                                                                    <a onclick="return check(this);" href="@Url.Action("cashPaymentPost","Transactions",new {id =@v.Id})"> OK</a>
                                                                }
                                                                else if (v.voucher_type == "CR")
                                                                {
                                                                    <a onclick="return check(this);" href="@Url.Action("cashReceivedPost", "Transactions", new { id = @v.Id })"> OK</a>
                                                                }
                                                                else if (v.voucher_type == "EV")
                                                                {
                                                                    <a onclick="return check(this);" href="@Url.Action("ExpensePost", "ExpenseVoucher", new { id = @v.Id })"> OK</a>
                                                                }
                                                                else if (v.voucher_type == "WEV")
                                                                {
                                                                    <a onclick="return check(this);" href="@Url.Action("weightExpensePost","Transactions", new { id = @v.Id })"> OK</a>
                                                                }
                                                                else if (v.voucher_type == "PRV" && v.pvr_type == 1)
                                                                {
                                                                    <a onclick="return check(this);" href="@Url.Action("Production", "GoodsManagement", new { id = @v.Id })"> OK</a>
                                                                }
                                                                else if (v.voucher_type == "SV" || v.voucher_type == "PV" || v.voucher_type == "UPPV" || v.voucher_type == "UPSV")
                                                                {
                                                                    <a onclick="return check(this);" style="background-color:#fff" href="@Url.Action("AddSaleVoucher", "SaleVoucher", new { id = @v.Id })"> OK</a>
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (v.description != "WHT" && v.pvr_type != 4)
                                                                {

                                                                    <a href="@Url.Action("Delete", "TemporaryReports", new { id = @v.Id })" onclick="return confirm('Are you sure you want to Delete?')"> Delete</a>

                                                                }

                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }


                                        </tbody>

                                    </table>

                                </div>
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />

                    </div>
                </div>

            </div>

            <!-- /page content -->
        </div>

    </div>
  

    <script type="text/javascript">
    function confirm_delete() {
        return confirm('are you sure?');
    }
    </script>
    <script>
        $(document).ready(function () {
            $('.button').click(function () {
                $('.button').click(function (e) {
                    e.preventDefault();
                });
            });
        });

    </script>
    <script>

    function check(link) {
    if (link.className != "visited") {

    link.className = "visited";
    return true;
    }
    alert("Already Done");
    return false;
    }
    </script>



