@model List<ranglerz_project.Models.TransactionAccount>
@{
    ViewBag.Title = "Stock Summary.";
}











    <div class="container body">


        <div class="main_container">

            @{
                Html.RenderPartial("_Partial");
            }

            <!-- top navigation -->
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col col-md-10 pull-right" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>
                                Stock Summary
                            </h3>
                        </div>


                    </div>
                    <div class="clearfix"></div>


                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">

                                <div class="x_content">
                                    <table id="example" class="table table-striped responsive-utilities jambo_table">
                                        <thead>
                                            <tr class="headings">
                                                <th>Code</th>
                                                <th>Account Name</th>
                                                <th>Type </th>
                                                <th>Updated time </th>
                                                <th>Total Weight(KG) </th>

                                            </tr>
                                        </thead>

                                        <tbody>

                                            @foreach (var t in Model.Where(x => x.type_ == "Goods Account" & x.is_active == "Y"))
                                            {
                                                int weight = 0;
                                                if (t.opening_weight != null)
                                                {
                                                    weight = Convert.ToInt32(t.opening_weight);
                                                }


                                                foreach (var tr in t.Transactions.Where(x => x.is_active == "Y"))
                                                {
                                                    if (t.id == 118 && tr.voucher_type == "PRV")
                                                    {
                                                        continue;
                                                    }

                                                    if (tr.extra == "Sale" && t.main_id != 12 || tr.net_weight == null)
                                                    {
                                                        continue;
                                                    }
                                                    if (tr.voucher_type == "SV" || tr.voucher_type == "UPSV")
                                                    {
                                                        weight = (int)(weight - tr.net_weight);
                                                    }
                                                    else if (tr.voucher_type == "PRV" && tr.Id % 2 == 1)
                                                    {
                                                        weight = (int)(weight - tr.net_weight);
                                                    }

                                                    else
                                                    {
                                                        weight = (int)(weight + tr.net_weight);
                                                    }

                                                }

                                                var value = String.Format("{0:0,0}", weight);

                                                <tr class="even pointer">

                                                    <td>@t.code</td>
                                                    <td>@t.name</td>
                                                    <td>@t.type_</td>
                                                    <td>@t.updated_at_.ToShortDateString()</td>
                                                    <td>@value</td>

                                                </tr>
                                            }


                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />

                    </div>
                </div>

            </div>

            <!-- /page content -->
        </div>

    </div>


    <script type="text/javascript">
    function confirm_delete() {
        return confirm('Are you sure?');
    }
    </script>













