@model List<ranglerz_project.ModelsBO.RoutesReport>

@{

    ViewBag.Title = "Routes Report";
    //var sesion = Session["name"].ToString();
    //int result1;
    //int result2;
    //var balance = ViewBag.openingBalance;
    //var totalDebit = 0;
    //var totalCredit = 0;
    //var totalBalance = 0;
    //string values = null;
    //string debCommas = null;
    //string crCommas = null;
    //string totalBalanceCommas = null;
    //string totalCreditCommas = null;
    //string totaldebitCommas = null;
    //int allReportsEdit = Convert.ToInt32(Session["all_reports_edit"]);

}



    

    <style>
        .something{
            display:none;
        }
        .preload{
            margin:0;
            position:absolute;
            top :50%;
            left:50%;
            margin-right = -50%;
            transform:translate(-50%,-50%);
        }
    </style>
    

    <script>
        $(function () {
            $(".preload").fadeOut(2000, function () {
                $(".something").fadeIn(1000);
            });
        });
    </script>










    <div class="preload">
        <img src="~/images/loader.gif" />
    </div>

    <div class="something">
        <div class="container body">



            <div class="something">
                <div class="main_container">

                    @{
                        Html.RenderPartial("_Partial");
                    }

                    <!-- top navigation -->
                    <!-- /top navigation -->
                    <!-- page content -->
                    <div class="right_col col-md-10 pull-right" role="main">

                        <div class="">
                            <div class="page-title">
                                <div class="title_left">
                                    <h3>
                                     Routes Report
                                    </h3>
                                </div>


                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">

                                        <div class="x_content">
                                            <br />
                                            <form id="demo-form2" action="@Url.Action("Routes","Stock")" method="post" data-parsley-validate class="form-horizontal form-label-left">

                                                <div class="form-group">

                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <span style="margin-right:20px;"><strong>Select Month</strong></span>
                                                        <input type="month" id="dateDefault" name="dateStart" required />

                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                                        <input type="submit" value="Search" class="btn btn-success" />
                                                    </div>
                                                </div>




                                        </div>

                                        <div class="ln_solid"></div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Routes</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <table id="example" class="table table-striped responsive-utilities jambo_table">
                                                <thead>
                                                    <tr class="headings">



                                                        <th>Date </th>

                                                        <th>W Route 1 </th>
                                                        <th>W Route 2 </th>
                                                        <th>W Route 3 </th>
                                                        <th>W Route 4 </th>
                                                        <th>W Route 5 </th>
                                                        <th>W Route 6 </th>
                                                        <th>W Route 7 </th>
                                                        <th>W Route 8 </th>
                                                        <th>W Route 9 </th>
                                                        <th>W Route 10 </th>
                                                        <th>Total</th>


                                                    </tr>
                                                </thead>

                                                <tbody>





                                                    @{
                                                        int i = 0;
                                                        var totalWeight = 0;
                                                        var route1 = 0;
                                                        var route2 = 0;
                                                        var route3 = 0;
                                                        var route4 = 0;
                                                        var route5 = 0;
                                                        var route6 = 0;
                                                        var route7 = 0;
                                                        var route8 = 0;
                                                        var route9 = 0;
                                                        var route10 = 0;
                                                        var total = 0;

                                                    }

                                                    @if (Model != null)
                                                    {

                                                        foreach (var name in Model)
                                                        {

                                                            i = i + 1;

                                                            <tr class="even pointer">


                                                                <td><strong>@i</strong></td>


                                                                @{
                                                            totalWeight = 0;
                                                            var counter = 1;
                                                                }

                                                                @foreach (var weight in name.routeTotalWeight)
                                                                {

                                                                    <td>@weight</td>
                                                                    if (counter == 1)
                                                                    {
                                                                        route1 = route1 + weight;
                                                                    }
                                                                    else if (counter == 2)
                                                                    {
                                                                        route2 = route2 + weight;
                                                                    }
                                                                    else if (counter == 3)
                                                                    {
                                                                        route3 = route3 + weight;
                                                                    }
                                                                    else if (counter == 4)
                                                                    {
                                                                        route4 = route4 + weight;
                                                                    }
                                                                    else if (counter == 5)
                                                                    {
                                                                        route5 = route5 + weight;
                                                                    }
                                                                    else if (counter == 6)
                                                                    {
                                                                        route6 = route6 + weight;
                                                                    }
                                                                    else if (counter == 7)
                                                                    {
                                                                        route7 = route7 + weight;
                                                                    }
                                                                    else if (counter == 8)
                                                                    {
                                                                        route8 = route8 + weight;
                                                                    }
                                                                    else if (counter == 9)
                                                                    {
                                                                        route9 = route9 + weight;
                                                                    }
                                                                    else if (counter == 10)
                                                                    {
                                                                        route10 = route10 + weight;
                                                                    }


                                                                    totalWeight = totalWeight + weight;
                                                                    counter = counter + 1;
                                                                }

                                                                <td>@totalWeight</td>
                                                                @{
                                                            total = total + @totalWeight;
                                                                }
                                                            </tr>




                                                        }
                                                        <tr style="background-color:#3f5367; color:#fff">
                                                            <td>Total</td>
                                                            <td>@route1</td>
                                                            <td>@route2</td>
                                                            <td>@route3</td>
                                                            <td>@route4</td>
                                                            <td>@route5</td>
                                                            <td>@route6</td>
                                                            <td>@route7</td>
                                                            <td>@route8</td>
                                                            <td>@route9</td>
                                                            <td>@route10</td>
                                                            <td>@total</td>
                                                        </tr>


                                                    }







                                                </tbody>

                                            </table>


                                        </div>
                                    </div>
                                </div>

                                <br />
                                <br />
                                <br />

                            </div>
                        </div>

                    </div>
                    <!-- /page content -->
                </div>
            </div>
        </div>
    </div>
   


    <script type="text/javascript">
    function confirm_delete() {
        return confirm('are you sure?');
    }
    </script>


    <script>
    function setInputDate(_id) {
        var _dat = document.querySelector(_id);
        var hoy = new Date(),
            d = hoy.getDate(),
            m = hoy.getMonth() + 1,
            y = hoy.getFullYear(),
            data;

        if (d < 10) {
            d = "0" + d;
        };
        if (m < 10) {
            m = "0" + m;
        };

        data = y + "-" + m + "-" + d;
        console.log(data);
        _dat.value = data;
    };

    setInputDate("#dateDefault");
    </script>
    <script>
        function setInputDate(_id) {
            var _dat = document.querySelector(_id);
            var hoy = new Date(),
                d = hoy.getDate(),
                m = hoy.getMonth() + 1,
                y = hoy.getFullYear(),
                data;

            if (d < 10) {
                d = "0" + d;
            };
            if (m < 10) {
                m = "0" + m;
            };

            data = y + "-" + m + "-" + d;
            console.log(data);
            _dat.value = data;
        };

        setInputDate("#dateDefault2");
    </script>




















