@{
    ViewBag.Title = "SaleOrdersList";
}



<style>
    .hide{

        display:none;
    }
    .show{
        display:block;
    }
</style>






<div class="container body">


    <div class="main_container">

        @{
            Html.RenderPartial("_Partial");
        }

        
        <div class="right_col col-md-10 pull-right " role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>
                            All  Orders
                        </h3>
                    </div>


                </div>
                <div class="clearfix"></div>
                <div id="Search" class="x_content">
                    <br />
                    <form id="demo-form2" action="" method="get" data-parsley-validate class="form-horizontal form-label-left">

                        <div id="Search" class="form-group">


                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-6 col-xs-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Sale Order Party Wise</label>
                                        <select id="saleParty" name="search" onchange="saleOrderByParty()" required class="form-control chzn-select col-md-7 col-xs-12">
                                            <option value="">Please select any </option>

                                            @foreach (var tr in ViewBag.Accounts)
                                    {
                                                <option value="@tr.id">@tr.name </option>
                                    }


                                        </select>

                                    </div>
                                    <div class="form-group">
                                        <label>Sale Order Item Wise</label>
                                        <select id="saleItem" name="search" onchange="saleOrderByItem()" required class="form-control chzn-select col-md-7 col-xs-12">
                                            <option value="">Please select any </option>

                                            @foreach (var tr in ViewBag.Items)
                                            {
                                                <option value="@tr.good_Name">@tr.good_Name </option>
                                            }


                                        </select>
                                    </div>

                                </div>

                                <div class="col-md-6 col-xs-6 col-sm-6">


                                    <div class="form-group">
                                        <label>Purchase Order Party Wise</label>
                                        <select id="purchaseParty" name="search" onchange="purchaseOrderByParty()" required class="form-control chzn-select col-md-7 col-xs-12">
                                            <option value="">Please select any </option>

                                            @foreach (var tr in ViewBag.Accounts)
                                            {
                                                <option value="@tr.id">@tr.name </option>
                                            }


                                        </select>
                                    </div>





                                    <div class="form-group">
                                        <label>Purchase Order Item Wise</label>
                                        <select id="purchaseItem" name="search" onchange="purchaseOrderByItem()" required class="form-control chzn-select col-md-7 col-xs-12">
                                            <option value="">Please select any </option>

                                            @foreach (var tr in ViewBag.Items)
                                            {
                                                <option value="@tr.good_Name">@tr.good_Name </option>
                                            }


                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-6">
                                    <input type="button" value="All Sale Orders" onclick="SaleOrders()" name="submitValue" class="btn btn-success" />
                                </div>
                                <div class="col-md-6">
                                <input type="button" value="All Purchase Orders" onclick="PurchaseOrders()" name="submitValue" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </form>

                    

                </div>

                <div  id="loader" class=" hide col-md-12">
                    <div class="col-md-5"></div>
                    <div class="col-md-2"><img height="100" width="100" src="~/images/loader.gif" /></div> 
                    <div class="col-md-5"></div>

                    
                </div>


                <div id="updatedDiv" class="row">

                
                  

                    <br />
                    <br />
                    <br />

                </div>
                <div id="">




                </div>
            </div>

        </div>
        <!-- /page content -->
    </div>

</div>

<script type="text/javascript">
    function confirm_delete() {
        return confirm('are you sure?');
    }
</script>

<script>
    function SaleOrders()
    {
        $("#loader").addClass("show");
            $.ajax({

                url:"/SaleOrder/AllSaleOrders/",
                cache: false,
                type: "Get",
                success: function(data)
                {
                 
                    document.getElementById("updatedDiv").innerHTML = data;
                    $("#loader").removeClass("show");
                    $("#loader").addClass("hide");
                },
                error: function()
                {
                    alert("Error");
                }

            })

    }

    function saleOrderByParty()
    {
        $("#loader").addClass("show");
        var AccountName = document.getElementById('saleParty').value;
        $.ajax({

            url: "/SaleOrder/SaleOrderByParty/",
            data:{id:AccountName},
            cache: false,
            type: "Get",
            success: function(data)
            {
                 
                document.getElementById("updatedDiv").innerHTML = data;
                $("#loader").removeClass("show");
                $("#loader").addClass("hide");
            },
            error: function()
            {
                alert("Error");
            }

        })

    }

    function saleOrderByItem() {
        $("#loader").addClass("show");
        var itemName = document.getElementById('saleItem').value;
        $.ajax({

            url: "/SaleOrder/SaleOrderByItem/",
            data:{item : itemName },
            cache: false,
            type: "Get",
            success: function (data) {

                document.getElementById("updatedDiv").innerHTML = data;
                $("#loader").removeClass("show");
                $("#loader").addClass("hide");
            },
            error: function () {
                alert("Error");
            }

        })

    }






    function PurchaseOrders() {

        $("#loader").addClass("show");

        $.ajax({

            url: "/PurchaseOrder/AllPurchaseOrders/",

            cache: false,
            type: "Get",
            success: function (data) {
               
                document.getElementById("updatedDiv").innerHTML = data;
                $("#loader").removeClass("show");
                $("#loader").addClass("hide");
            },
            error: function () {
                alert("Error");
            }

        })

    }

    function purchaseOrderByParty() {
        $("#loader").addClass("show");
        var AccountName = document.getElementById('purchaseParty').value;
        $.ajax({

            url: "/purchaseOrder/purchaseOrderByParty/",
            data: { id: AccountName },
            cache: false,
            type: "Get",
            success: function (data) {

                document.getElementById("updatedDiv").innerHTML = data;
                $("#loader").removeClass("show");
                $("#loader").addClass("hide");
            },
            error: function () {
                alert("Error");
            }

        })

    }

    function purchaseOrderByItem() {
        $("#loader").addClass("show");
        var itemName = document.getElementById('purchaseItem').value;
        $.ajax({

            url: "/purchaseOrder/purchaseOrderByItem/",
            data: { item: itemName },
            cache: false,
            type: "Get",
            success: function (data) {

                document.getElementById("updatedDiv").innerHTML = data;
                $("#loader").removeClass("show");
                $("#loader").addClass("hide");
            },
            error: function () {
                alert("Error");
            }

        })

    }

</script>
<script>

     

        function printOption()
        {
           
            document.getElementById('Search').style.display = "none";
            window.print();
            location.reload();
        }







</script>
