@model List<ranglerz_project.Models.Temporary_Orders>


@{
    ViewBag.Title = "TempOrdersList";
}










    <div class="container body">


        <div class="main_container">

            @{
                Html.RenderPartial("_Partial");
            }

            <!-- top navigation -->
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col col-md-10 pull-right" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>
                                Pending Orders
                            </h3>
                        </div>


                    </div>
                    <div class="clearfix"></div>
                    



                    <div id="orderNumberBY" class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Pending Orders</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <table id="example" class="table table-striped responsive-utilities jambo_table">
                                        <thead>
                                            <tr class="headings">

                                                <th>Date</th>
                                                <th>Code </th>
                                                <th>Party Name </th>
                                                <th>Item </th>
                                                <th>Broker</th>
                                                <th>Commision</th>
                                                <th>Weight</th>
                                                <th>Status</th>
                                                <th>Prepared By</th>
                                                <th>Action </th>

                                            </tr>
                                        </thead>

                                        <tbody id="UpdatedDIV">

                                            @foreach (var v in Model)
                                            {
                                                <tr class="even pointer">
                                                    <td>@v.created_at_.ToShortDateString()</td>
                                                    <td>@v.order_number</td>
                                                    <td>@v.party_name</td>
                                                    <td>@v.item</td>
                                                    <td>@v.broker_name </td>
                                                    <td>@v.brokers_commision</td>
                                                    <td>@v.weight</td>

                                                    @if (v.is_active == "Y")
                                                    {
                                                        <td>Active</td>
                                                    }
                                                    else
                                                    {
                                                        <td>DeActive</td>
                                                    }
                                                    <td>@v.prepared_by</td>
                                                    <td>
                                                        @if (v.type == 1)
                                                        {
                                                            <a href="~/SaleOrder/Create/@v.Id/">OK</a>
                                                        }
                                                        else if (v.type == 2)
                                                        {
                                                            <a href="~/PurchaseOrder/CreatePurchaseOrder/@v.Id/">OK</a>
                                                        }
                                                        &nbsp;&nbsp;
                                                        <a onclick="deleteOrder(@v.Id)">Delete</a>
                                                        &nbsp;&nbsp;
                                                        <a href="~/SaleOrder/Edit/@v.Id">Edit</a>
                                                    </td>
                                                </tr>
                                            }


                                        </tbody>

                                    </table>
                                    
                                </div>
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />

                    </div>
                    
                </div>

            </div>
            <!-- /page content -->
        </div>

    </div>
   

    <script type="text/javascript">
    function confirm_delete() {
        return confirm('are you sure?');
    }
    </script>

    <script>
        function getOrdersbynumber()
        {


            var iD = document.getElementById("order_num").value;


            $.ajax({

                url:"/SaleOrder/sale_order_by/",
                data : {id : iD},
                cache: false,
                type: "Get",
                success: function(data)
                {

                    document.getElementById("orderNumberBY").innerHTML = data;
                },
                error: function()
                {
                    alert("Error");
                }

            })

        }

    </script>
    <script>
        function deleteOrder(id) {

            var flag = confirm('Are you sure you want to Delete?');
            if (flag == true) {
                $.ajax({

                    url: "/SaleOrder/deleteTempOrder/",
                    data: { id: id },
                    cache: false,
                    type: "Get",

                    success: function (data) {

                        document.getElementById('UpdatedDIV').innerHTML = data;
                    },

                    error: function (response) {
                        alert("Error");
                    }

                })
            }
        }
    </script>

