@model ranglerz_project.Models.Transaction






    <div class="container body">


        <div class="main_container">

            @{
                Html.RenderPartial("_Partial");
            }

            <!-- top navigation -->
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col col-md-10 pull-right" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>
                                Reports
                            </h3>
                        </div>


                    </div>
                    <div class="clearfix"></div>
                    

                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                
                                <div class="x_content">
                                    <table id="example" class="table table-striped responsive-utilities jambo_table">
                                        <thead>
                                            <tr class="headings">


                                                <th>Supervisor Name </th>
                                                <th>User Name </th>
                                                <th>Voucher Code </th>
                                                <th>Last Edited By</th>


                                            </tr>
                                        </thead>

                                  

                                      
                                        
                                            @if(@Model.supervisor != null)
                                            {
                                             <td>@Model.supervisor</td>      
                                            }
                                            else
                                            {
                                            <td>Not Mention</td>
                                            }
                                        
                                    

                                        <td>
                                            @if (Model.User != null)
                                            {
                                                @Model.User.name;
                                            }
                                            else
                                            {
                                                @Model.Admin.username;
                                            }
                                        </td>

                                        <td>@Model.voucher_code</td>
                                        <td>@Model.Last_Edit</td>
                                   
                                   


                                    </table>


                                </div>
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />

                    </div>
                </div>

            </div>
            <!-- /page content -->
        </div>

    </div>


    <script type="text/javascript">
    function confirm_delete() {
        return confirm('are you sure?');
    }
    </script>


    <script>
    function setInputDate(_id) {
        var _dat = document.querySelector(_id);
        var hoy = new Date(),
            d = hoy.getDate(),
            m = hoy.getMonth() + 1,
            y = hoy.getFullYear(),
            data;

        if (d < 10) {
            d = "0" + d;
        };
        if (m < 10) {
            m = "0" + m;
        };

        data = y + "-" + m + "-" + d;
        console.log(data);
        _dat.value = data;
    };

    setInputDate("#dateDefault");
    </script>
    <script>
        function setInputDate(_id) {
            var _dat = document.querySelector(_id);
            var hoy = new Date(),
                d = hoy.getDate(),
                m = hoy.getMonth() + 1,
                y = hoy.getFullYear(),
                data;

            if (d < 10) {
                d = "0" + d;
            };
            if (m < 10) {
                m = "0" + m;
            };

            data = y + "-" + m + "-" + d;
            console.log(data);
            _dat.value = data;
        };

        setInputDate("#dateDefault2");
    </script>

























