@model List<ranglerz_project.Models.TransactionAccount>
@{
    ViewBag.Title = "MultiVoucher2";
}










    <script type="text/javascript">
        $(document).ready(function () {
            $("#getin").change(function () {
                var countries = [];
                $.each($(".country option:selected"), function () {
                    countries.push($(this).val());
                });
                var i;
                for (i = 0; i < countries.length; i++) {
                    if (i ==0) {
                        $("#firstEntry").addClass("showDiv");
                    }

                    "<br>"
                    if (i == 1) {
                        $("#secondEntry").addClass("showDiv");
                    }
                    "<br>"
                    if (i == 2) {
                        $("#thirdEntry").addClass("showDiv");
                    }
                    "<br>"
                    if (i == 3) {
                        $("#fourthEntry").addClass("showDiv");
                    }
                    "<br>"
                    if (i == 4) {
                        $("#fifthEntry").addClass("showDiv");
                    }
                    "<br>"

                }

                if (countries.length > 5)
                {

                    alert(" Limit Exceed...You can select maximum 5 accounts!!!");

                }

                if (countries.length == 5)
                {

                    $("#firstEntryInput").val(countries[0])
                    $("#secondEntryInput").val(countries[1])
                    $("#thirdEntryInput").val(countries[2])
                    $("#fourthEntryInput").val(countries[3])
                    $("#fifthEntryInput").val(countries[4])
                }

                if (countries.length < 5)
                {
                    $("#firstEntryInput").val(countries[0])
                    $("#secondEntryInput").val(countries[1])
                    $("#thirdEntryInput").val(countries[2])
                    $("#fourthEntryInput").val(countries[3])

                    $("#fifthEntry").removeClass("showDiv");
                    $("#fifthEntry").addClass("hideDiv");
                }
                if (countries.length < 4)
                {
                    $("#firstEntryInput").val(countries[0])
                    $("#secondEntryInput").val(countries[1])
                    $("#thirdEntryInput").val(countries[2])



                    $("#fifthEntry").removeClass("showDiv");
                    $("#fifthEntry").addClass("hideDiv");
                    $("#fourthEntry").removeClass("showDiv");
                    $("#fourthEntry").addClass("hideDiv");
                }
                if (countries.length < 3) {

                    $("#firstEntryInput").val(countries[0])
                    $("#secondEntryInput").val(countries[1])




                    $("#fifthEntry").removeClass("showDiv");
                    $("#fifthEntry").addClass("hideDiv");
                    $("#fourthEntry").removeClass("showDiv");
                    $("#fourthEntry").addClass("hideDiv");
                    $("#thirdEntry").removeClass("showDiv");
                    $("#thirdEntry").addClass("hideDiv");
                }
                if (countries.length < 2) {

                    $("#firstEntryInput").val(countries[0])



                    $("#fifthEntry").removeClass("showDiv");
                    $("#fifthEntry").addClass("hideDiv");
                    $("#fourthEntry").removeClass("showDiv");
                    $("#fourthEntry").addClass("hideDiv");
                    $("#thirdEntry").removeClass("showDiv");
                    $("#thirdEntry").addClass("hideDiv");
                    $("#secondEntry").removeClass("showDiv");
                    $("#secondEntry").addClass("hideDiv");
                }
                if (countries.length < 1) {
                    $("#fifthEntry").removeClass("showDiv");
                    $("#fifthEntry").addClass("hideDiv");
                    $("#fourthEntry").removeClass("showDiv");
                    $("#fourthEntry").addClass("hideDiv");
                    $("#thirdEntry").removeClass("showDiv");
                    $("#thirdEntry").addClass("hideDiv");
                    $("#secondEntry").removeClass("showDiv");
                    $("#secondEntry").addClass("hideDiv");
                    $("#firstEntry").removeClass("showDiv");
                    $("#firstEntry").addClass("hideDiv");
                }




                //alert("You have selected the Accounts - " + countries.join(", "));
            });
        });
    </script>

    <style>
        .hideDiv {
            display: none;
        }

        .showDiv {
            display: block;
        }
    </style>














    <div class="container body">


        <div class="main_container">

            @{
                Html.RenderPartial("_Partial");
            }

            <div class="right_col col-md-10 pull-right" role="main">
                <div class="">



                    <div class="page-title">
                        <div class="title_left">
                            <h3>Multi Voucher</h3>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form id="demo-form2" onsubmit="return submitResult();" action="@Url.Action("MultiVoucherPost2","TemporaryReports")" method="post" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>New Multi Credit <strong>@ViewBag.Code</strong></h2>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="x_content">
                                    <br />




                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                            Debit <span class="required">*</span>
                                        </label>

                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select name="to" required class="form-control chzn-select col-md-7 col-xs-12">
                                                <option value="">Please select any </option>
                                                @foreach (var tr in Model)
                                                {
                                                    <option value="@tr.name">@tr.MainAccount.name -> @tr.name </option>
                                                }


                                            </select>
                                        </div>
                                    </div>


                                    @*<div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        To <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select name="to" required class="form-control chzn-select col-md-7 col-xs-12">
                                            <option value="">Please select any </option>
                                            @foreach (var tr in Model)
                                            {
                                                <option value="@tr.name">@tr.MainAccount.name -> @tr.name </option>
                                            }

                                        </select>
                                    </div>
                                </div>*@
                                    @*<div class="form-group">
                                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Amount </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="amount" required>
                                    </div>
                                </div>*@


                                    @*<div class="input_fields_wrap">
                                    <button class="add_field_button">Add More Fields</button>
                                    <div>
                                    <select name="to" required class="form-control chzn-select col-md-7 col-xs-12">
                                                <option value="">Please select any </option>
                                                @foreach (var tr in Model)
                                                {
                                                    <option value="@tr.name">@tr.MainAccount.name -> @tr.name </option>
                                                }

                                      </select>
                                    </div>
                                </div>*@


                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                            Credit <span class="required">*</span>
                                        </label>

                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select name="from" id="getin" required class="form-control chzn-select col-md-7 col-xs-12 country" multiple style="width:453px; " tabindex="4">

                                                @foreach (var tr in Model)
                                                {
                                                    <option value="@tr.name">@tr.MainAccount.name -> @tr.name </option>
                                                }


                                            </select>

                                        </div>
                                    </div>






                                    <div id="firstEntry" class="hideDiv form-group">
                                        <div class="form-group">
                                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Acount1 </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="firstEntryInput" readonly class="form-control col-md-7 col-xs-12" type="text" name="account1" value="" />
                                            </div>
                                        </div>

                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Amount1 </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="amount1" value="0" required>
                                        </div>

                                    </div>


                                    <div id="secondEntry" class="hideDiv">
                                        <div class="form-group">
                                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Acount2 </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="secondEntryInput" readonly class="form-control col-md-7 col-xs-12" type="text" value="" name="account2" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Amount2 </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="amount2" value="0" required>
                                            </div>
                                        </div>
                                    </div>


                                    <div id="thirdEntry" class="hideDiv">
                                        <div class="form-group">
                                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Acount3 </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="thirdEntryInput" readonly class="form-control col-md-7 col-xs-12" name="account3" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Amount3 </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="amount3" value="0" required>
                                            </div>
                                        </div>
                                    </div>




                                    <div id="fourthEntry" class="hideDiv">
                                        <div class="form-group">
                                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Acount4 </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="fourthEntryInput" readonly class="form-control col-md-7 col-xs-12" type="text" name="account4" value="" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Amount4 </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="amount4" value="0" required>
                                            </div>
                                        </div>
                                    </div>





                                    <div id="fifthEntry" class="hideDiv">
                                        <div class="form-group">

                                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Acount5 </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="fifthEntryInput" type="text" readonly value="" name="account5" class="form-control col-md-7 col-xs-12" />
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Amount5 </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="amount5" value="0">
                                            </div>
                                        </div>
                                    </div>













                                    <!------------------------------------------------------------------------------------------------------------------------------->

                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Debit Date </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="" readonly class="form-control col-md-7 col-xs-12" type="text" value="@DateTime.Now.ToShortDateString()" name="Debitdate" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Credit Date </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="" readonly class="form-control col-md-7 col-xs-12" type="text" value="@DateTime.Now.ToShortDateString()" name="date" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Description </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="description" required>
                                        </div>
                                    </div>





                                    <!------------------------------------------------------------------------------------------------------------------------------->













                                </div>



                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                                        <input type="submit" id="btnSubmit" name="actionType" value="Add Voucher" class="btn btn-success" />
                                        <input type="submit" name="actionType" value="Add and Print" class="btn btn-success" />
                                        <input type="hidden" name="voucherCode" value="@ViewBag.Code" />
                                        <input type="hidden" name="voucherLastID" value="@ViewBag.LastID" />
                                        @*<input type="submit" name="actionType" value="Add Voucher" class="btn btn-success" />*@

                                    </div>
                                </div>
                            </div>
                        </form>



                    </div>


                </div>

            </div>

        </div>
    </div>












    <script type="text/javascript">
        function submitResult() {
            if (confirm("Are You Sure To Post?") == false) {
                return false;
            } else {
                return true;
            }
        }
    </script>

    <script>

        $(document).ready(function () {
           
            var max_fields = 10; //maximum input boxes allowed
            var wrapper = $(".input_fields_wrap"); //Fields wrapper
            var add_button = $(".add_field_button"); //Add button ID

            var x = 1; //initlal text box count
            $(add_button).click(function (e) { //on add input button click
                e.preventDefault();
                if (x < max_fields) { //max input box allowed
                    x++; //text box increment
                    $(wrapper).append('<div><input type="text" name="mytext[]"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
                }
            });

            $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
                e.preventDefault(); $(this).parent('div').remove(); x--;
            })
        });
    </script>




    <script type="text/javascript">
        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    </script>




