@model List<ranglerz_project.Models.Transaction>
@{
    ViewBag.Title = "VoucherPermission";
    var sesion = Session["name"].ToString();
}






<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Asian Industry | View User </title>

    <!-- Bootstrap core CSS -->

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/fonts/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/animate.min.css" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="~/Content/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery-jvectormap-2.0.1.css" />
    <link href="~/Content/css/green.css" rel="stylesheet" />
    <link href="~/Content/css/floatexamples.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/chosen.css" media="all" />


    <script src="~/Scripts/js/jquery.min.js"></script>


    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>



    <script>
        //* enchanced select
        chosen_select = {
            init: function () {
                $(".chzn-select").chosen();
            }
        };

        $(document).ready(function () {
            // extended select elements
            chosen_select.init();
        });
    </script>








</head>




<body class="nav-md">

    <div class="container body">


        <div class="main_container">

            @{
                Html.RenderPartial("_Partial");
            }

            <!-- top navigation -->
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>
                                Reports
                            </h3>
                        </div>


                    </div>
                    <div class="clearfix"></div>
                    

                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>View Reports</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <table id="example" class="table table-striped responsive-utilities jambo_table">
                                        <thead>
                                            <tr class="headings">
                                                <th>ID</th>
                                                @if (sesion == "Admin")
                                                {
                                                    <th>User Name</th> 
                                                }
                                               
                                                <th>Date </th>
                                                <th>Type </th>
                                                <th>Code </th>
                                                <th>Description </th>
                                                
                                                <th>Dr </th>
                                                <th>Cr </th>
                                                <th>Balance </th>
                                                <th>Action</th>

                                            </tr>
                                        </thead>

                                        <tbody>

                                            
                                            
                                                @foreach (var t in Model.Where(x=>x.is_active=="N").OrderBy(x=>x.created_at).ToList())
                                                {
                                                    
                                                    
                                               
                                                   
                                                  
                                                     
                                                       
                                                    
                                                                    <tr class="even pointer">
                                                                    <td>@t.Id</td>
                                                                    @if(sesion=="Admin")
                                                                   {
                                                                       if(t.User!=null)
                                                                       {
                                                                       <td>@t.User.name</td>
                                                                       }
                                                                       else if(@t.Admin!=null)
                                                                       {
                                                                                <td>@t.Admin.username</td>
                                                                       }
                                                                   }
                                                                    <td>@t.created_at.ToShortDateString()</td>
                                                   
                                                      
                                                        
                                                            
                                                                            <td>@t.voucher_type</td> 
                                                                            <td>@t.voucher_code</td>
                                                              <td>@t.description <strong> From :</strong>  @t.from_account <strong>To :</strong>   @t.to_account </td>
                                                          
                                          
                                                                            <td>@t.dr</td>
                                                                            <td>@t.cr</td>
                                                                    @{
                                                                    var tt = Convert.ToInt64(t.balance);
                                                                    var balance = String.Format("{0:#,##0.00}",tt);
                                                                    }
                                                                            <td> @balance</td>
                                                            
                                                                            <td><a href="@Url.Action("Edit","Transactions" , new {id= @t.Id} )">Edit</a></td>
                                                    

                                                    


                                                                </tr>
                                                       
                                               
                                            }
                                       
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />

                    </div>
                </div>

            </div>
            <!-- /page content -->
        </div>

    </div>
    <script src="~/Scripts/js/bootstrap.min.js"></script>

    <script src="~/Scripts/js/custom.js"></script>

    <script type="text/javascript">
    function confirm_delete() {
        return confirm('are you sure?');
    }
    </script>















</body>

</html>










